{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card mb-3">
    <div class="card-header"><i class="fa fa-table"></i> Basic Table</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                  <th>日期</th>
                  <th>職稱</th>
                  <th>公司名稱</th>
                  <th>薪資</th>
                  <th>工作經歷</th>
                  <th>學歷要求</th>
                  <th>應徵人數</th>
                </tr>
            </thead>
            <tbody>
                {% for item in JobLists %}
                <tr>
                  <td>{{item.date}}</td>
                  <td>{{item.job_title}}</td>
                  <td>{{item.company_name}}</td>
                  <td>{{item.job_salary}}</td>
                  <td>{{item.job_work_experience}}</td>
                  <td>{{item.job_edu_require}}</td>
                  <td>{{item.job_applicant}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}

{% block ext_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}